<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<form action="/join" method="POST">
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
		<input type="text" name="username" placeholder="Username"/><br/>
		<input type="password" name="password" placeholder="Password"/><br/>
		<input type="email" name="email" placeholder="Email"/><br/>
		<button>회원가입</button>
	</form>
</body>
</html>